@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/* Template */
:root {
  /* Color */
  --color-main: #000;
  --color-secondary: #cccccc;
  --color-accent: #fb5a00;

  /* Font */
  --weight-normal: 300;
  --weight-md: 450;
}

body {
  background: #FFF;
  text-align: center;
  transition: all 0.75s ease-out;
}

span {
  font-weight: var(--weight-md);
}

p {
  font-size: 0.75rem;
  font-weight: var(--weight-normal);
  color: var(--color-main);
}

p+p {
  margin-top: 0px;
}

button {
  font-size: 1rem;
  font-weight: var(--weight-md);
  color: #FFF;
  padding: 1.5rem 2rem;
  background: #341CEF;
  outline: none;
  border: 0;
  margin-top: 120px;
  transition: all 1s ease-out;
}

button:hover {
  background: #9F1CEF;
}

.disabled {
  opacity: 0.5;
}

/* Header */
header {
  width: 800px;
  margin: 80px auto -120px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: all 1s;
}

/* Canvas */
#canvas {
  margin: 120px auto 0;
}

/* Main area */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 80px auto 0;
}

.start-screen {
  width: 800px;
  height: 600px;
  background: #FFF;
}

.sun {
  width: 80px;
  height: 80px;
  background: linear-gradient(181deg, #8a10cd, #0a22ff, #ff1b44, #0a22ff, #8a10cd);
  background-size: 1000% 1000%;
  border-radius: 50%;
  position: absolute;
  z-index: 90;
  top: 72px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: float 2.5s ease-out 1s 1 normal forwards, glow 4s ease infinite;
}

figure {
  margin-top: 180px;
  position: relative;
  z-index: 100;
}

figure img {
  width: 372px;
}

figcaption {
  font-weight: var(--weight-normal);
  margin-top: 0.5rem;
}

footer {
  margin: 120px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin-left: 8px;
}

@keyframes float {
  from {
    top: 104;
    opacity: 0;
  }

  to {
    top: 84px;
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    background-position: 51% 0%
  }

  50% {
    background-position: 50% 100%
  }

  100% {
    background-position: 51% 0%
  }
}